.breadcrumb {
    padding: 0rem 1rem;
}

.breadcrumb>ol {
    border: 0;
}

.breadcrumbItem {
    font-size: 14px;
    font-weight: 500;
    color: #18bc9c !important;
}

.breadcrumbItem+.breadcrumbItem::before {
    content: '>';
    margin: 0 10px;
    // color: #18bc9c !important;
}

.breadcrumbItem a {
    color: #18bc9c !important;
}