.link:hover {
    cursor: pointer;
}

.link p:hover {
    text-decoration: underline;
}

.profileCard {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--form-border-color);
    border-radius: 5px;
    background-color: var(--form-bg-color);
}