.errorContainer {
    height: 100vh;
    text-align: center;
    color: #333;
}

.heading {
    font-size: 5rem;
    font-weight: bold;
}

.subheading {
    font-size: 2rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.buttonClass {
    margin-top: 1rem;
}