.link {}

.link:hover {
    cursor: pointer;
}

.link p:hover {
    text-decoration: underline;
}

.editProfileContainer {
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border: 1px solid var(--form-border-color);
    border-radius: 5px;
    background-color: var(--form-bg-color);
}

.formCheck input:checked {
    border-color: var(--form-check-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--form-check-color), 0.5);
}

.formCheck input:focus {
    border-color: var(--form-check-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--form-check-color), 0.5);
}