.signupContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.link {
    color: #007bff;
    text-decoration: none; 
    transition: color 0.2s;

    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}