.header {
    padding: 1rem 0rem;
}

.logout {
    cursor: pointer;
    margin-left: .5rem;
}

.logout:hover {
    border-radius: .5rem;
    background-color: #cececee6;
}

.menuItem {
    margin-right: .5rem;
}

.menuItem:hover {
    border-radius: .5rem;
    background-color: #cececee6;
}

.notificationBadge {
    margin-left: 0px;
    font-size: .65rem;
}