.footer {
    width: 100%;
    padding: 20px 0;
    margin-top: auto;

    .links {
        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: var(--link-font-color);
            }
        }
    }
}