.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.pageButton {
    padding: 5px 10px;
    margin: 0 3px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s;
}

.pageButton:hover {
    background-color: #f0f0f0;
}

.pageButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.active {
    background-color: #007bff;
    color: white;
}