.timeline {
    position: relative;
    // padding: 20px 0;
    list-style: none;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #e9ecef;
    }
}

.timelineItem {
    position: relative;
    width: 100%;
    padding: 20px 40px 20px 60px;
    box-sizing: border-box;
}

.timelineDate {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    /* Tarih ve içerik arasındaki boşluk küçültüldü */
    // color: #000000A6;
}

.timelineContent {
    background: #f8f9fa;
    padding: 15px;
    border: 1px solid #00000017;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.5s ease, transform 0.5s ease;

    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: -20px;
        width: 10px;
        height: 10px;
        background: #000000A6;
        border-radius: 50%;
        box-shadow: 0 0 0 3px #f8f9fa;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 4px 20px rgba(0, 26, 65, 0.5);
        transform: translateY(-10px);
    }
}

.notificationDetails {
    margin-bottom: .5rem;

    &:last-child {
        margin-bottom: 0px;
    }
}


@media (max-width: 768px) {
    .timeline {
        &::before {
            left: 10px;
        }
    }

    .timelineItem {
        padding-left: 40px;
    }
}