.colContainer {
    height: 400px;
    position: relative;
}

.formControl {
    width: 35%;

    @media (max-width: 768px) {
        width: 75%;
    }

    @media (max-width: 576px) {
        width: 100%;
    }
}

.infoText {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: .9rem;
}

.infoText:hover {
    text-decoration: underline;
    cursor: pointer;
}