.infoText {
    font-style: italic;
}

.groupMembers {
    border-radius: 0.5rem;
    background-color: #eeeeeee6;
    padding: .5rem;
    margin-bottom: 1rem;
}

.memberLink {
    text-decoration: none;
    color: #212529;
}

.memberLink:hover {
    text-decoration: underline;
    color: #18BC9C;
}